.catalog-goods__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  column-gap: 30px;
  row-gap: 20px;

  @media (max-width: $mobileMax) {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10px;
  }
}

.catalog-goods__nav-panel {
  margin-top: 18px;

  &::before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 1px;
    border-top: 1px solid $grey2;
  }

  @media (max-width: $mobileMax) {
    display: none;
  }
}

.catalog-goods__nav-wrapper {
  padding-top: 34px;
  display: grid;
  grid-template-columns: auto 1fr auto;
}

.catalog-goods__nav-pages {
  margin-right: 35px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.catalog-goods__nav-page a {
  padding: 2px 7px;
  color: $grey1;

  &:hover,
  &:focus {
    color: $basicDark;
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}

.catalog-goods__nav-page--current a {
  color: $basicDark;
}
