.faq__list {
  margin: 60px 100px 0 100px;
  border: 1px solid $basicBrown;

  @media (max-width: $tabletMax) {
    margin: 60px 0 0 0;
  }
}

.faq__item {
  padding: 50px 38px;

  &:not(:last-child) {
    border-bottom: 1px solid $basicBrown;
  }

  @media (max-width: $mobileMax) {
    padding: 22px 25px 24px 25px;
  }
}

.faq__question {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 10px;
  width: 100%;
  cursor: pointer;

  &:hover,
  &:focus {
    box-shadow: 0 1px $basicBrown;
  }
}

.faq__question h3 {
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;

  @media (max-width: $mobileMax) {
    font-size: 16px;
    line-height: 22px;
  }
}

.faq__question br {
  display: none;

  @media (max-width: $mobileMax) {
    display: initial;
  }
}

.faq__question svg {
  margin: auto 0;
  display: block;
  color: $basicBrown;
  transform: rotate(180deg);

  @media (max-width: $mobileMax) {
    width: 20px;
    height: 10px;
  }
}

.faq__item p {
  margin-top: 20px;
  margin-bottom: 0;
  display: none;
  max-width: 527px;
  font-weight: 400;
  line-height: 21px;

  @media (max-width: $mobileMax) {
    padding-right: 33px;
    font-size: 14px;
    line-height: 20px;
  }
}

.faq__item--opened .faq__question svg {
  transform: rotate(0);
}

.faq__item--opened p {
  display: block;
}
