.faq__section-title h2 {
  font-size: 34px;
  line-height: 44px;
  letter-spacing: 0.03em;
}

.faq__list {
  margin: 50px 100px 0 100px;
  border: 1px solid $basicBrown;

  @media (max-width: $tabletMax) {
    margin: 50px 0 0 0;
  }

  @media (max-width: $mobileMax) {
    margin: 28px 0 0 0;
  }
}

.faq__item {
  padding: 44px 48px 42px 45px;

  &:not(:last-child) {
    border-bottom: 1px solid $basicBrown;
  }

  @media (max-width: $tabletMax) {
    padding: 42px 48px 45px 48px;
  }

  @media (max-width: $mobileMax) {
    padding: 17px 25px 19px 25px;
  }
}

.faq__question {
  position: relative;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 10px;
  width: 100%;
  cursor: pointer;
}

.faq__question h3 {
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;

  @media (max-width: $mobileMax) {
    font-size: 16px;
    line-height: 22px;
  }
}

.faq__question br {
  display: none;

  @media (max-width: $mobileMax) {
    display: initial;
  }
}

.faq__question svg {
  margin: auto 0;
  display: block;
  color: $basicBrown;
  transform: rotate(180deg);

  @media (max-width: $tabletMax) {
    width: 25px;
    height: 15px;
  }

  @media (max-width: $mobileMax) {
    margin-top: 3px;
    width: 22px;
    height: 12px;
  }
}

.faq__item p {
  margin-top: 7px;
  margin-left: 5px;
  margin-bottom: 0;
  display: none;
  max-width: 525px;
  font-weight: 400;
  line-height: 21px;

  @media (max-width: $tabletMax) {
    margin-top: 25px;
    margin-left: 0;
    max-width: 530px;
  }

  @media (max-width: $mobileMax) {
    margin-top: 14px;
    padding-right: 33px;
    font-size: 14px;
    line-height: 20px;
  }
}

.faq__item--opened .faq__question svg {
  transform: rotate(0);
}

.faq__item--opened p {
  display: block;
}
