.gallery__section-title {
  @media (max-width: $tabletMax) {
    margin-top: 70px;
  }

  @media (max-width: $mobileMax) {
    margin-top: 60px;
  }
}


.gallery__section-title h2 {
  margin-bottom: 30px;
  font-size: 36px;

  @media (max-width: $tabletMax) {
    margin-bottom: 25px;
  }

  @media (max-width: $mobileMax) {
    margin-bottom: 20px;
  }
}

.gallery__section-title a {
  margin-bottom: 63px;

  @media (max-width: $tabletMax) {
    margin-bottom: 60px;
  }

  @media (max-width: $mobileMax) {
    margin-bottom: 50px;
  }
}

.gallery__list {
  display: grid;
  grid-template-columns: minmax(113px, 230px) minmax(211px, 400px) repeat(2, minmax(113px, 230px));
  grid-template-rows: min-content min-content;
  grid-auto-rows: min-content;
  column-gap: 27px;
  row-gap: 34px;

  @media (max-width: $tabletMax) {
    column-gap: 16px;
    row-gap: 21px;
  }

  @media (max-width: $mobileMax) {
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
    row-gap: 27px;
  }
}

.gallery__item {
  display: flex;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 9px $shadow;
  }
}

.gallery__item--mobile-hidden {
  @media (max-width: $mobileMax) {
    display: none;
  }
}

.gallery__item:nth-child(2) {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
}

.gallery__item a {
  flex-grow: 1;
  flex-shrink: 1;
}

.gallery__item-picture {
  display: block;
  width: 100%;
  height: 100%;
}

.gallery__item-picture img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

