.login-page {
  padding-top: 80px;
  padding-bottom: 80px;
}

.login-page__return-link {
  margin-bottom: 50px;
  display: block;
  width: fit-content;
}

.login-page__return-link svg {
  transform: rotate(180deg);
}
