.new-products {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;

  @media (max-width: $tabletMax) {
    padding-bottom: 3px;
  }
}

.new-products__wrapper {
  position: relative;
}

.new-products__list {
  margin-bottom: 35px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  gap: 30px;

  @media (max-width: $tabletMax) {
    margin-bottom: 25px;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: $tabletMax) {
    margin-bottom: 12px;
  }
}

.new-products__product-card {

  &:nth-child(n+5) {
    display: none;
  }

  @media (max-width: $tabletMax) {

    &:nth-child(n+3) {
      display: none;
    }
  }
}

.new-products__product-card--hidden {
  display: none;
}

.new-products__nav-previous-page,
.new-products__nav-next-page {
  position: absolute;
  top: -112px;
  display: flex;
  align-items: center;
  width: fit-content;
  color: $basicBrown;

  @media (max-width: $tabletMax) {
    top: -100px;
  }

  @media (max-width: $mobileMax) {
    display: none;
  }

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}

.new-products__nav-previous-page svg,
.new-products__nav-next-page svg {
  @media (max-width: $tabletMax) {
    width: 36px;
    height: 15px;
  }
}

.new-products__nav-previous-page {
  transform: rotate(180deg);
}

.new-products__nav-next-page {
  right: 0;
}

.new-products__nav-list {
  display: flex;
  justify-content: center;

  @media (max-width: $mobileMax) {

  }
}

.new-products__nav-item {
  @media (max-width: $mobileMax) {
    display: none;

    &--current,
    &:last-child {
      position: relative;
      display: block;
      margin: 0 9px;
    }
  }
}

.new-products__nav-item--current::after {
  @media (max-width: $mobileMax) {
    content: "of";
    position: absolute;
    top: 0;
    right: -18px;
    display: block;
  }
}

.new-products__nav-item--current .new-products__nav-page {
  color: $basicDark;
}

.new-products__nav-page {
  padding: 0 7.5px;
  display: block;
  color: $grey1;
  cursor: pointer;

  @media (max-width: $tabletMax) {
    padding: 0 7px;
  }

  @media (max-width: $mobileMax) {
    cursor: default;
  }
}
