.new-products {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.new-products__wrapper {
  position: relative;
}

.new-products__list {
  margin-bottom: 45px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  gap: 30px;

  @media (max-width: $tabletMax) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.new-products__product-card {

  &:nth-child(n+5) {
    display: none;
  }

  @media (max-width: $tabletMax) {

    &:nth-child(n+3) {
      display: none;
    }
  }
}

.new-products__product-card--hidden {
  display: none;
}

.new-products__nav-previous-page,
.new-products__nav-next-page {
  position: absolute;
  top: -95px;
  display: block;
  width: fit-content;
  color: $basicBrown;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}

.new-products__nav-previous-page {
  transform: rotate(180deg);
}

.new-products__nav-next-page {
  right: 0;
}

.new-products__nav-list {
  display: flex;
  justify-content: center;
}

.new-products__nav-item--current .new-products__nav-page {
  color: $basicDark;
}

.new-products__nav-page {
  margin: 0 7.5px;
  display: block;
  color: $grey1;
  cursor: pointer;
}
