.page-body__wrapper--main {
  padding-top: 10px;
  padding-bottom: 132px;

  @media (max-width: $tabletMax) {
    padding-bottom: 80px;
  }

  @media (max-width: $mobileMax) {
    padding-bottom: 71px;
  }
}

.page-body__wrapper--catalog {
  padding-top: 80px;
  padding-bottom: 72px;
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 50px;

  @media (max-width: $tabletMax) {
    padding-top: 50px;
    grid-template-columns: 1fr;
    grid-template-rows: 67px auto;
  }

  @media (max-width: $mobileMax) {
    gap: 40px;
    padding-top: 40px;
    padding-bottom: 112px;
  }
}
