.page-header {
  color: $white;
  background-color: $basicBrown;
  position: relative;
}

.page-header__wrapper {
  background-color: $brownOpacue07;
}

.page-header h2,
.page-header h4 {
  margin: 0;
  font-family: $cormorantGaramond;
  text-align: center;
  color: $white;
}

.page-header--main {
  background-image: url("../img/background/desktop/main-page-header@1x.png");
  background-size: cover;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/background/desktop/main-page-header@2x.png");
  }

  @media (max-width: $tabletMax) {
    background-image: url("../img/background/tablet/main-page-header@1x.png");
  }

  @media (max-width: $tabletMax) and (min-resolution: 144dpi), (max-width: $tabletMax) and (min-resolution: 1.5dppx) {
    background-image: url("../img/background/tablet/main-page-header@2x.png");
  }

  @media (max-width: $mobileMax) {
    background-image: url("../img/background/mobile/main-page-header@1x.png");
  }

  @media (max-width: $mobileMax) and (min-resolution: 144dpi), (max-width: $mobileMax) and (min-resolution: 1.5dppx) {
    background-image: url("../img/background/mobile/main-page-header@2x.png");
  }
}

.page-header--main .page-header__wrapper {
  padding: 182px 0;

  @media (max-width: $mobileMax) {
    padding: 185px 0;
  }
}

.page-header--main h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 58px;
  letter-spacing: 0.03em;

  @media (max-width: $mobileMax) {
    font-size: 38px;
    line-height: 49px;
  }
}

.page-header--main h4 {
  font-style: italic;
  font-weight: 400;
  font-size: 38px;
  line-height: 42px;

  @media (max-width: $mobileMax) {
    font-size: 34px;
    line-height: 44px;
  }
}

.page-header--catalog {
  background-image: url("../img/background/desktop/catalog-page-header@1x.png");
  background-size: cover;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/background/desktop/catalog-page-header@2x.png");
  }

  @media (max-width: $tabletMax) {
    background-image: url("../img/background/tablet/catalog-page-header@1x.png");
  }

  @media (max-width: $tabletMax) and (min-resolution: 144dpi), (max-width: $tabletMax) and (min-resolution: 1.5dppx) {
    background-image: url("../img/background/tablet/catalog-page-header@2x.png");
  }

  @media (max-width: $mobileMax) {
    background-image: url("../img/background/mobile/catalog-page-header@1x.png");
  }

  @media (max-width: $mobileMax) and (min-resolution: 144dpi), (max-width: $mobileMax) and (min-resolution: 1.5dppx) {
    background-image: url("../img/background/mobile/catalog-page-header@2x.png");
  }
}

.page-header--catalog .page-header__wrapper {
  padding: 90px 0 95px 0;

  @media (max-width: $mobileMax) {
    padding: 79px 0 83px 0;
  }
}

.page-header--catalog h2 {
  margin-bottom: 3px;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: 0.03em;
}

.page-header--catalog h4 {
  padding: 0 36px;
  font-style: italic;
  font-weight: 400;
  font-size: 22px;
  line-height: 29px;

  @media (max-width: $mobileMax) {
    line-height: 26px;
  }
}
