.product-card {
  width: 100%;
  height: auto;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 9px $shadow;
  }
}

.product-card__link {
  display: block;
  cursor: pointer;
}

.product-card__picture {
  display: block;
}

.product-card__picture img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-card__picture--new-product img {
  min-height: 284px;
}

.product-card__picture--catalog img {
  max-height: 272px;
}

.product-card h5 {
  margin-top: 25px;
  margin-bottom: 15px;
  line-height: 21px;
  text-align: center;
}

.product-card span {
  padding-bottom: 15px;
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
}
