.product-card {
  width: 100%;
  height: auto;

  @media (max-width: $mobileMax) {
    min-height: 234px;
  }

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 9px $shadow;
  }
}

.product-card__picture {
  display: block;
}

.product-card__picture img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-card__picture--new-product img {
  min-height: 284px;

  @media (max-width: $tabletMax) {
    height: 340px;
  }

  @media (max-width: $mobileMax) {
    min-height: 136px;
    height: auto;
  }
}

.product-card h5 {
  margin-top: 20px;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-align: center;

  @media (max-width: $mobileMax) {
    margin-top: 15px;
    font-size: 16px;
  }
}

.product-card span {
  padding-bottom: 15px;
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
}
