html {
  scroll-behavior: smooth;
}

.body {
  margin: 0;
  position: relative;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-family: $poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: $basicDark;
  background-color: $white;
  box-sizing: border-box;

  &--disabled-scroll {
    overflow-y: hidden;
  }
}

.body__main {
  position: inherit;
}

.container {
  margin: 0 auto;
  padding-left: 98px;
  padding-right: 98px;
  width: 100%;
  max-width: $desktopMax;

  @media (max-width: $tabletMax) {
    padding-left: 45px;
    padding-right: 45px;
  }

  @media (max-width: $mobileMax) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  overflow: hidden;
}

a {
  position: relative;
  display: block;
  font-family: $poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: $basicDark;
  text-decoration: none;
  cursor: pointer;
}

.on-hover-01 {

  &::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -1px;
    width: 0;
    height: 1px;
    background-color: $basicDark;
    transition: width 0.5s;
  }

  &:hover,
  &:focus {
    &::after {
      content: "";
      width: 100%;
      display: block;
      position: absolute;
      left: 0;
      bottom: -1px;
      height: 1px;
      background-color: $basicBrown;
      transition: width 0.5s;
    }
  }

  &:active {
    opacity: 0.5;
  }
}

.on-hover-02 {

  &::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -1px;
    width: 0;
    height: 1px;
    background-color: $white;
    transition: width 0.5s;
  }

  &:hover,
  &:focus {
    &::after {
      content: "";
      width: 100%;
      display: block;
      position: absolute;
      left: 0;
      bottom: -1px;
      height: 1px;
      background-color: $white;
      transition: width 0.5s;
    }
  }

  &:active {
    opacity: 0.5;
  }
}

.on-hover-03 {

  &::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -5px;
    width: 100%;
    height: 1px;
    background-color: $basicBrown;
    transition: width 0.5s;
  }

  &:hover,
  &:focus {
    &::after {
      content: "";
      width: 0;
      display: block;
      position: absolute;
      left: 0;
      bottom: -5px;
      height: 1px;
      background-color: $basicDark;
      transition: width 0.5s;
    }
  }

  &:active {
    opacity: 0.5;
  }
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.button {
  padding: 22px 0;
  width: 100%;
  font-family: $poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: $white;
  background-color: $basicBrown;
  border: 1px solid $basicBrown;
  outline: none;
  cursor: pointer;

  &:hover,
  &:focus {
    filter: grayscale(0.4);
  }

  &:active {
    opacity: 0.5;
  }
}
